* {
    margin: 0;
    padding 0;
}

html, body {
    height: 100%;
}

.flex-container {
    display: flex;

}

.aside {
    flex: 1 40%;
}

.topSide {
    display: flex;
    flex: 1 100%;
    flex-direction: row;
    margin-right: 10vw;
    align-content: space-around;

}

#barchart {

    margin-bottom: 22%;
}