* {
    margin: 0;
    padding 0;
}

html, body {
    height: 100%;
}

.flex-container {
    display: flex;

}

.aside {
    flex: 1 40%;
}

.topSide {
    display: flex;
    flex: 1 100%;
    flex-direction: row;
    margin-left: 20vw;
    align-content: space-around;

}
#headerText{
    
}

#barchart {

    margin-bottom: 22%;
}

.checkbox {
    margin-left: 5%;
    margin-top: 2%;
}

.dropdown {
    margin-left: 5%;
    margin-top: 2%;
}