* {
    margin: 0;
    padding 0;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
    text-align: center;
}

.container {
    margin: 0;
    margin-top: -5%;
    padding: 0;
}

.row {
    text-align: center;
}

#mapDiv {
    width: 800px;
}

#plotChart {
    margin-bottom: 70%;
}
