/*.plotchart path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

*/


.plotchart line {
    fill:none;
    stroke:steelblue;
    stroke-width: 1.5px;
}

text {
    font-family: Arial;
    font-size: 9pt;
}
.line{
    fill:none;
    stroke:;
    stroke-width: 3px;
}
